<section class="mt-5">
    <div class="container py-5">
        <div class="row py-5 g-3">
            @for(service of servicesList; track $index){
                <div class="col-lg-4 col-sm-6" id=`{{service._id}}`>
                        <div [ngStyle]="{'min-height': isLogin ? '14rem' : '12rem', justifyContent: isLogin ? 'space-between' : 'center'}"
                            class="service text-sm-start text-center p-4 rounded-3 bg-secondary-subtle d-flex flex-column">
                            <div>
                                <h3 class="my-2 text-success fw-bold">{{service.title}}</h3>
                                <p class="pe-sm-5">{{service.description}}</p>
                            </div>
                            <div *ngIf="isLogin">
                                <button class="btn btn-danger" (click)="deleteService(service._id)">Delete</button>
                            </div>
                        </div>
                </div>
            }
        </div>
    </div>
</section>